/**
 * vue路由进出动画
 */
[v-cloak] {
	visibility: hidden;
}
.fade-transition {
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease;
}
.fade-enter, .fade-leave {
    opacity: 0;
}

/**
 * 初始样式
 */
p, h2, h4, div, ul, li {
    padding: 0;
    margin: 0;
}
a {
    color: #2C3030;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
input, button {
    border: none;
    -webkit-appearance: none;
    font-family: inherit;
    background-color: transparent;
}
h2, h4 {
    font-weight: 400;
}
li {
    list-style: none;
}
body {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0.32rem;
    background-color: #f4f4f4;
    font-family: "STHeiti", "Microsoft YaHei", Helvetica, Arial, sans-serif;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
}

/**
 * 主体
 */
#app {
    width: 7.5rem;
    margin: 0 auto;
}
.flex {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
}
.flex-item {
    -webkit-box-flex: 1;
    flex: 1;
    display: block;
    text-align: center;
}
.flex-item.v-link-active {
    color: #27CDC1;
}
